:root {
  --button-color: black;
  --button-background-color: silver;
  --border-radius:3px;
}
.display-flex{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.sizeBox-50{
    height: 50px;
    width: 100%;
}

.width-100-per{
    width: 100%;
}