:root {
  --button-color: black;
  --button-background-color: silver;
  --border-radius:3px;
}
.btn {
    font-family: inherit;
    font-size: .875rem;
    font-weight: 700;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    line-height: 1.125rem;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
    color: inherit;
    background-color: transparent;
}
.btn-primary {
    color: var(--button-color);
    background-color: var(--button-background-color);
    border-radius: var(--border-radius);
}
.display-flex{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.sizeBox-50{
    height: 50px;
    width: 100%;
}

.width-100-per{
    width: 100%;
}